<md-content>
    <md-card>
        <img src="http://fakeimg.pl/300x300/?text=Mike&font=lobster" class="md-card-image" alt="image caption">
        <md-card-content>
            <h2>Card headline</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora atque architecto in repellendus expedita fugit id? Suscipit delectus earum velit omnis dicta, distinctio nesciunt fugiat dolor, quos optio totam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora atque architecto in repellendus expedita fugit id? Suscipit delectus earum velit omnis dicta, distinctio nesciunt fugiat dolor, quos optio totam.</p>
        </md-card-content>
        <md-card-footer>
        Card footer
        </md-card-footer>
    </md-card>
</md-content>